:root{
    --primary: #b6895b;
    --bg: #010101
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    min-height: 500vh;
}
/*navbar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    font-style: italic;
}
.navbar .navbar-logo span{
    color: var(--primary);

}
.navbar .navbar-nav a{
    display: inline-block;
    color: #ffffff;
    font-size: 1.3rem;
    margin: 0 1rem;


}
.navbar .navbar-nav a:hover:after{
   transform: scaleX(0.5);
}

.navbar .navbar-nav a::after{
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-extra a{
    color: white;
    margin: 0 0.5rem;
}
.navbar .navbar-extra a:hover{
    color: var(--primary);
}

#hamburger-menu{
    display: none;
}

/*Hero Section*/
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    background-image: url("../img/Header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}
.hero::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1,1,3) 10%, rgba(255,255,255,0)25%);
}
.hero .content {
  padding: 1.4rem 7%;
  max-width: 70rem;
}
.hero .content h1{
    font-size: 5em;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    line-height: 1.2;
}
.hero .content span{
    color: var(--primary);
}
.hero .content p{
    color: #ffffff;
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 1px #000;
/*    supaya warna tetap terbaca    */
    mix-blend-mode: difference;


}
.hero .content .cta{
    background-color: var(--primary);
    color:#ffffff;
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px black;
    font-size: 1.3rem;
}
.hero .content .cta:hover{
    background-color: #a97f54;
}
/*About Section*/
.about{
    color:#ffffff;
    padding: 8rem 7% 1.4rem;

}
.about h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}
.about span{
    color: var(--primary);
}
.about .row{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;

}
.about .row .about-img{
    flex: 1 1 45rem;


}
.about .row .about-img img{
    width: 100%;
    /*box-shadow: 0 15px 30px rgba(255, 255, 255, 0.5);*/
    border-radius: 40px;
}
.about .row .tentang-kami{
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .tentang-kami h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.about .row .tentang-kami p{
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    font-weight: 100;
    line-height: 1.6;

}
/*Menu Section*/

.menu{
    color:#ffffff;
    padding: 8rem 7% ;
}

.menu .menu-content h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.menu .menu-content span{
    color: var(--primary);
}
.menu .menu-content p{
    text-align: center;
    margin: 0 30%;
    font-weight: 100;
}

.menu .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2rem 12rem ;

}
.menu .row .menu-card{
    margin: 1rem;
}
.menu .row .menu-card img{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem ;
}
.menu .row .menu-card .detail-menu{
    text-align: center;
}
.menu .row .menu-card .detail-menu p{
    margin: 1rem;
    font-weight: 100;
}
/*Kontak Section*/
.contact{
    color:#ffffff;
    padding: 8rem 7% 1.4rem;
}
.contact h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.contact span{
    color: var(--primary);
}
.contact .content-contact{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    height: auto;
    background-color: #222;

}
.contact .content-contact .contact-form{
    flex: 1;
    color: #fff;
    margin: 2rem ;
}
.contact .content-contact .contact-form .contact-input{
    display: flex;
    flex-direction: column;


}
.contact .content-contact .contact-form .contact-input .input-group {
    flex: 1;
    display: flex;
    gap: 1rem;
    width: 100%;
    background-color: #010101;
    padding: 2rem;
    border-radius: 10px;
}
.contact .content-contact .contact-form .contact-input .input-group input{
    flex: 1;
    padding: 1rem;
    background-color: rgba(122, 122, 122, 0);
    color: white;


}



/*media queries*/
/*laptop*/
@media(max-width: 1366px){
    html{
        font-size:62.5%;
    }
}
/*tablet*/
@media(max-width: 758px){
    html{
        font-size:55%;
    }

    #hamburger-menu{
        display: inline-block;

    }
    .navbar .navbar-nav{
        position: absolute;
        top:100%;
        right: -100%;
        background-color: white;
        width: 30rem;
        height: 100vh;

    }
    .navbar .navbar-nav.active{
        right: 0;
        transition: 0.5s linear ;

    }
    .navbar .navbar-nav a{
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        color: black;
    }
    .navbar .navbar-nav a::after{
        transform-origin: 0 0 ;
    }
    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.2);
    }
    .about .row{
        flex-wrap: wrap;
    }
    .about .row .about-img img{
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }
    .about .row .tentang-kami{
        padding: 0;
    }
    .about .row .tentang-kami h3{
        margin-top: 1rem;
        font-size: 2rem;
    }
}
/*handphone*/
@media(max-width: 450px){
    html{
        font-size:45.5%;
    }
}